<form class="" action="/recipes" method="post">
  <label for="name">Recipe Name</label>
  <input id="recipe_name" type="text" name="name" value="">
  <label for="name">Recipe Ingredients</label>
  <input id="recipe_ingredients" type="text" name="ingredients" value="">
  <label for="name">Recipe Cook Time</label>
  <input id="recipe_cook_time" type="text" name="cook_time" value="">
  <input type="submit" name="" value="submit">
</form>
