<form class="" action="/recipes" method="post">
  <h3>Name: <input type="text" name="name" value=""> </h3>
  <h4>Ingredients: <input type="text" name="ingredients" value=""> </h4>
  <h4>Cook Time: <input type="text" name="cook_time" value=""> </h4>
  <input type="submit" name="" value="submit">
</form>
