<form method="post" action="/recipes">
  <input type="text" name="name"><br>
  <input type="text" name="ingredients"><br>
  <input type="integer" name="cook_time"><br>
  <input type="submit" id="submit">
</form>
