<%=@recipe.name%>
<%=@recipe.ingredients%>
<%=@recipe.cook_time%>

<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="submit" value="delete" type="submit">
</form>
